<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.modelResultMapper">


    <delete id="removeModelResult">
        DELETE FROM modelresult
        WHERE modelname = #{modelname}
    </delete>
    <select id="getModelDetail" resultType="com.cqupt.software_9.entity.modelResult">
        select * from modelresult where modelname = #{modelname}
    </select>

    <select id="getTableName" resultType="java.util.Map">
        SELECT DISTINCT diseasename,  SPLIT_PART(modelname, '-', 1) AS  modelname FROM modelresult
    </select>
    <select id="getModelResultAndModel" resultType="com.cqupt.software_9.common.modelAndModelResultDTO">
        SELECT * FROM (SELECT modelresult.modelname,modelresult.evaluate,modelresult.pkl,modelresult.uid,modelresult.al,modelresult.tablename,
                              model.diseasename,model.createtime,model.publisher,model.feature
                       FROM modelresult
                                JOIN model ON modelresult.modelname = model.modelname)
        WHERE modelname = #{modelname}
    </select>


</mapper>

