<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.ModelMapper">
    <delete id="removeModel">
        DELETE FROM model
        WHERE modelname = #{modelname}
    </delete>


    <select id="getallmodel" resultType="com.cqupt.software_9.entity.Model">
        SELECT * FROM model
    </select>

    <select id="getModelFeatureByUidAndModelName" resultType="com.cqupt.software_9.entity.Model">
        SELECT * FROM model WHERE uid = #{uid} and modelname = #{modelname}
    </select>

    <select id="getUrlByalgorithmNameAndUid" resultType="java.lang.String">
        SELECT modeurl FROM model WHERE uid = #{uid} and modelname = #{modelname}
    </select>

    <select id="getAlgorithmByAlgorithmName" resultType="com.cqupt.software_9.entity.publicAl">
        SELECT * FROM algorithm
    </select>
    <select id="getFeaByTableName" resultType="java.lang.String">
        SELECT column_name
        FROM information_schema.columns
        WHERE table_name = #{tableName};
    </select>
    <select id="isRepeatModel" resultType="java.lang.String">
        SELECT modelname FROM model WHERE modelname = #{modelname}
    </select>
    <select id="getAllModelByPublisherAndUid" resultType="java.lang.String">
        SELECT modelname FROM model WHERE publisher = #{publisher} and uid = #{uid} and diseasename = #{diseasename}
    </select>
    <select id="getModelPathByModelName" resultType="java.lang.String">
        select modeurl FROM model WHERE modelname = #{modelname}
    </select>
    <select id="getModel" resultType="com.cqupt.software_9.common.ModelDTO">
        SELECT  modelname,diseasename,createtime,publisher,feature FROM model
    </select>
    <select id="getDisease" resultType="java.lang.String">
        SELECT DISTINCT diseasename FROM model
    </select>

    <select id="getStartTime" resultType="java.lang.String">
        SELECT MIN(createtime) AS earliest_time FROM model;
    </select>
    <select id="getModelNum" resultType="java.lang.Integer">
        SELECT COUNT(*) from model
    </select>
    <select id="getDiagName" resultType="java.lang.String">
        SELECT DISTINCT diagname FROM merge;
    </select>
    <select id="getFea" resultType="java.lang.String">
        select  feature from model where modelname = #{modelname}
    </select>
    <select id="getFeaBymodelName" resultType="java.lang.String">
        SELECT feature
        FROM model
        WHERE modelname = #{modelname};
    </select>


</mapper>

