<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.TableDescribeMapper" >


    <delete id="deleteByTableName">
        delete from table_describe where table_name = #{tableName}
    </delete>
</mapper>
