<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.software_9.mapper.TaskManagerMapper">

    <delete id="deleteByModelname">
        DELETE FROM task_manager where modelname = #{modelname}
    </delete>


    <select id="getPublisherbumodelname" resultType="java.lang.String">
        SELECT publisher
        FROM task_manager
        WHERE modelname = #{modelname};
    </select>
</mapper>
