<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_9.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cqupt.software_9.entity.User">

            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,
        password,role,create_time,
        update_time
    </sql>
    <update id="updatePas">
        UPDATE "user" SET password=#{password} WHERE username=#{username}
    </update>

    <select id="getUid" resultType="java.lang.String">
        SELECT uid from "user"  WHERE username=#{username}
    </select>

    <select id="getall" resultType="com.cqupt.software_9.entity.User">
        SELECT * from "user"
    </select>
    <select id="getUidByUsername" resultType="java.lang.String">
        SELECT uid from "user"  WHERE username=#{username}
    </select>

    <update id="updateByname">
    UPDATE software9.public."user"
    SET password = #{newpassword}
    WHERE username = #{username}
  </update>

    <update id="addTableSize">
        update software9.public."user"  set upload_size = upload_size + ${tableSize} where uid = #{uid}
    </update>

    <update id="minusTableSize">
        update software9.public."user"  set upload_size = upload_size - ${tableSize} where uid = #{uid}
    </update>

    <!--  User selectByUid(String uid); -->
    <select id="selectByUid" resultType="com.cqupt.software_9.entity.User">
        select * from software9.public."user" where uid = #{uid}
    </select>

    <!-- 用户管理新增-->
    <insert id="saveUser" parameterType="com.cqupt.software_9.entity.User">
        INSERT INTO software9.public."user" ("uid","username", "password", "create_time","update_time", "role", "user_status", "answer_1" , "answer_2", "answer_3" , "upload_size" )
        VALUES ('${user.uid}','${user.username}', '${user.password}', '${user.createTime}','${user.updateTime}','${user.role}','${user.userStatus}','${user.answer_1}','${user.answer_2}','${user.answer_3}','${user.uploadSize}')
    </insert>
    <select id="selectUserPage" resultType="com.cqupt.software_9.entity.User">
        SELECT * FROM software9.public."user" LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="countUsers" resultType="int"> SELECT COUNT(*) FROM software9.public."user" </select>
    <update id="updateStatusById">
        UPDATE software9.public.user
        <set>
            <if test="status != null">user_status = #{status},</if>
            <if test="role != null">role = #{role},</if>
            <if test="allSize != null">all_size = #{allSize},</if>
            <if test="uploadSize != null">upload_size = #{uploadSize},</if>
        </set>
        WHERE uid = #{uid}
    </update>
    <update id="removeUserById"> DELETE FROM software9.public."user" WHERE uid= #{uid} </update>

    <update id="updatePwd"> update software9.public."user" set password = '${password}' where username = #{username} </update>
</mapper>
